[submodule "moyuyc.github.io"]
    path = static
    url = https://github.com/moyuyc/moyuyc.github.io.git

[submodule "moka-theme-toy"]
    path = themes/toy
    url = https://github.com/moyuyc/moka-theme-toy.git
